form(action="/new", method='POST') 
    label(for="author") Author:  
    input(type="text", id="author", name="author")
    br
    label(for='message') Message:
    input(type="text", id='message', name="message")
    button(type="submit") submit 